assemblyai
fastapi
google-api-python-client
google-auth
google-auth-oauthlib
jinja2
opencv-python
passlib[argon2]
pyautogui
pytesseract
python-multipart
pyttsx3
requests
scipy
selenium
sounddevice
sqlalchemy
ultralytics
uvicorn
